@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  min-width: 1280px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.bordered {
  border-bottom: 2px solid #ececec;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #313030;
  margin-bottom: 70px;
}

.header__inner .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30%;
}

.header__inner .nav__item {
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 30px 20px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.header__inner .nav__item:hover {
  cursor: pointer;
  background-color: #ff3f40;
}

.header__inner .nav__item-active {
  background-color: #ff3f40;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #f6f2f2;
  padding: 160px 0 70px 0;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .main__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main__content {
  width: 50%;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-right: 30px;
}

.main__title {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 60px;
  margin-bottom: 25px;
}

@media (max-width: 1200px) {
  .main__title {
    font-size: 35px;
    line-height: 45px;
  }
}

.text {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  color: #000;
}

.main__text {
  opacity: 0.7;
  width: 80%;
  margin-bottom: 60px;
}

.btn {
  display: inline-block;
  padding: 10px 60px;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  line-height: 30px;
  border-radius: 3px;
  color: #fff;
}

.main__btn {
  background-color: #ff2d2d;
}

.main__video {
  width: 48%;
  -webkit-box-shadow: 0 -12px 70px rgba(0, 0, 0, 0.29);
          box-shadow: 0 -12px 70px rgba(0, 0, 0, 0.29);
  background-color: #c4c0b1;
}

.main__video img {
  display: block;
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .main__video {
    width: 450px;
    height: 250px;
  }
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services__content, .services__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.services__btn {
  color: #ff2d2d;
  border: 1px solid #ff2d2d;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.services__btn:hover {
  color: #fff;
  background: #ff2d2d;
}

.title {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 52px;
}

.services {
  padding: 80px 0;
}

.services__title {
  margin-bottom: 30px;
  opacity: 0.8;
}

.services__text {
  width: 80%;
  margin-bottom: 60px;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 8px;
}

@media (max-width: 1200px) {
  .services__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.services__item {
  width: 45%;
  margin-bottom: 35px;
}

.item__icon img {
  display: block;
  width: 30px;
  height: auto;
}

.item__title {
  font-size: 22px;
  line-height: 24px;
  opacity: 0.7;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  padding: 20px 0 10px 0;
}

.item__text {
  opacity: 0.7;
}

.products {
  padding: 80px 0;
}

.products__head {
  text-align: center;
  position: relative;
  margin-bottom: 60px;
}

.products__title {
  opacity: 0.8;
}

.products__text {
  padding: 12px 0 25px 0;
  opacity: 0.7;
  display: inline-block;
  width: 40%;
}

.products__head:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background-color: #ff2d2d;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  margin-left: -60px;
  opacity: 1;
}

.products__list {
  margin-bottom: 40px;
}

.products__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__list ul li {
  padding: 0 22px;
}

.products__list ul li a {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.7;
  letter-spacing: 0.8px;
}

.products__list ul li a:visited {
  color: #000;
}

.products__list ul li a:hover {
  opacity: 1;
  color: #ff2d2d;
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px 0 -5px;
}

.products__item {
  width: 25%;
  padding: 5px;
}

.products__item img {
  width: 100%;
  height: auto;
}

.team {
  padding-bottom: 80px;
}

.team__text {
  position: relative;
  padding: 16px 0px 40px 0px;
  width: 33%;
  margin-bottom: 40px;
}

.team__text:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background-color: #ff2d2d;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  opacity: 1;
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__col1 {
  width: 300px;
  padding-right: 10px;
}

.team__col1 img {
  width: 100%;
  height: auto;
}

.team__col2 {
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.team__col2 .col2__title {
  font-size: 28px;
  opacity: 0.8;
}

.team__col2 .col2__text {
  width: 65%;
  padding-top: 5px;
}

.team__col2 .col2__social {
  padding: 30px 0;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  line-height: 18px;
  opacity: 0.8;
  letter-spacing: 0.8px;
}

.team__col2 .col2__social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__col2 .col2__social ul li {
  margin-right: 20px;
}

.team__col2 .col2__social ul li a:visited {
  color: inherit;
}

.team__col2 .col2__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: -5px;
}

.team__col2 .col2__item {
  position: relative;
  width: 25%;
  margin-right: 5px;
}

.team__col2 .col2__item img {
  width: 100%;
  height: auto;
}

.team__col2 .col2__item-in {
  color: #fff;
  text-align: center;
  padding: 7px 0;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1;
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #000;
}

.team__col2 .col2__item:hover .col2__item-in {
  display: block;
}

.section-subscribe {
  background: url("../images/back.jpg") no-repeat center;
  background-size: cover;
}

.subscribe {
  padding: 80px 0;
}

.subscribe__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.subscribe__title {
  line-height: 40px;
  text-transform: unset;
  color: #fff;
  opacity: 0.8;
  padding-bottom: 25px;
}

.subscribe__text {
  color: #fff;
  opacity: 0.8;
  margin-bottom: 40px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.subscribe__form--email {
  width: 45%;
  padding-right: 10px;
}

.subscribe__form--email input {
  width: 100%;
  margin: 0;
  padding: 18px;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
}

.subscribe__form--btn {
  width: 20%;
}

.subscribe__form--btn button {
  width: 100%;
  background-color: #ff2d2d;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 18px;
  border-radius: 3px;
}

.message {
  padding: 70px 0;
}

.message__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.message__row1, .message__row2 {
  width: 100%;
}

.message__row2 {
  position: relative;
}

.message__content {
  width: 50%;
}

.message__title {
  margin-bottom: 30px;
}

.message__text {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.message__text:after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background-color: #ff2d2d;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  opacity: 1;
}

.message__form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.message__form input {
  background-color: #e5e5e5;
}

.message__form--name,
.message__form--email {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.message__form--name input,
.message__form--email input {
  width: 100%;
  border-radius: 10px;
  padding: 16px;
}

.message__form--name {
  padding-right: 22px;
}

.message__form--email {
  padding-left: 22px;
}

.message__form--text {
  width: 100%;
  height: 200px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.message__form--text textarea {
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  vertical-align: top;
  border-radius: 10px;
  padding: 16px;
  resize: none;
}

.message__form--button {
  width: 100%;
}

.message__form--button button {
  width: 100%;
  background-color: #ff2d2d;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  padding: 17px;
  border-radius: 10px;
}

.message__contacts {
  position: absolute;
  width: 40%;
  max-width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #2d2d2d;
  padding-top: 80px;
  padding-left: 60px;
}

.message__contacts h2 {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  opacity: 0.8;
  padding-bottom: 25px;
}

.message__contacts p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  opacity: 0.65;
  padding-bottom: 15px;
  line-height: 18px;
}

.message__contacts p:last-child {
  padding-top: 20px;
  font-weight: 700;
}

footer {
  background-color: #313030;
  padding-top: 14px;
}

footer p {
  color: #fff;
  opacity: 0.7;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  line-height: 60px;
  letter-spacing: 0.5px;
  vertical-align: center;
}
/*# sourceMappingURL=style.css.map */